.nav-button{
    width: 150px;
height: 48px;
background-color: #040f0a;
text-align:center;
color:white;
}
.hire-div h2{
    font-weight: bold;
    
}

.hire-div p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    
}